# Ignore node_modules (let Docker install it fresh inside container)
node_modules
npm-debug.log
yarn-error.log

# Ignore build artifacts
dist
build

# Ignore local env/config files
.env
.env.local

# Ignore version control
.git
.gitignore

# mui
material-ui

# flowbite
.flowbite-react