# Node / Next.js
node_modules/
.next/
.env
npm-debug.log*
yarn-error.log*

# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.env
venv/
env/
*.log
*.pot
*.pyc
*.pyo
db.sqlite3

# Docker
*.env
docker-compose.override.yml
docker-compose.override.yaml

# VSCode
.vscode/

# Mac OS
.DS_Store

# Logs
logs/
*.log

# Coverage
htmlcov/
.coverage

# IDEs
.idea/

# Misc
*.pem

# exam papers/notes/syllabus
syllabus/
chroma_db/
nougat_pdf/
olevelphysics/
school notes/
grail_pdfs
notes and syllabus/

.flowbite-react

.env.*